@import "tailwindcss";
body {
	background: #000;
}

.app {
	border-radius: 10px;
	margin: 20px auto 0;
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
		url(https://images.pexels.com/photos/32053424/pexels-photo-32053424/free-photo-of-h-m-do-th-den-tr-ng-co-thap.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.option {
	background-color: #d6d3d1; /* stone-300 */
	padding-top: 0.25rem; /* py-1 → 4px top */
	padding-bottom: 0.25rem; /* py-1 → 4px bottom */
	border-radius: 0.75rem; /* rounded-xl → 12px */
	color: #000000; /* text-black */
	cursor: pointer; /* cursor-pointer */
}
.option:hover {
	box-shadow: 0 4px 16px #bfc4c4;
}

.option.answer {
	transform: translateX(10px);
	padding: 11px;
}
.option.correct {
	background-color: rgb(97, 97, 215);
	color: #fff;
}

.option.wrong {
	background-color: rgb(227, 12, 12);
	color: #fff;
}

.option.test {
	background-color: #d6d3d1;
}

progress {
	width: 100%;
	height: 20px;
	border-radius: 12px;
	overflow: hidden; /* ensures inner bar respects rounding */
}
progress::-webkit-progress-value {
	background-color: #02635b; /* blue-400 */
	/* border-radius: 12px; */
}
